<template>
  <div>
    <b-button
        :variant="isRecording ? 'danger' : 'primary'"
        @click="toggleRecording"
    >
      Aufnehmen
      <font-awesome-icon :icon="isRecording ? 'stop' : 'microphone'"/>
    </b-button>
  </div>
</template>

<script>

import {Recorder} from "vmsg";

export default {
  name: 'AudioRecorder',
  data: function () {
    return {
      audio: null,
      isRecording: false
    }
  },
  computed: {
    recorder() {
      return new Recorder({
        wasmURL: `${process.env.BASE_URL}vmsg.wasm`
      })
    }
  },
  methods: {
    toggleRecording() {
      const self = this

      if (self.isRecording) {

        this.recorder.stopRecording().then(function (blob) {
          console.log('recording stopped', blob)
          self.isRecording = false
          self.audio = blob
          self.$emit('audioChanged', self.audio)
        }).catch(function (error) {
          console.log('error in stop recording', error)
        })

      } else {
        self.isRecording = true

        self.recorder.initAudio().then(function () {
          self.recorder.initWorker().then(function () {
            self.recorder.startRecording()
          })
              .catch(function (error) {
                console.log('error in init worker', error)
              })
        }).catch(function (error) {
          console.log('error in init audio', error)
        })
      }
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
