<template>
  <div>
    <b-file
        v-model="audio"
        :state="Boolean(audio)"
        drop-placeholder="Hier einfügen"
        placeholder=""
        plain
        @input="$emit('inputFileChanged', audio)"
    />
  </div>
</template>

<script>
export default {
  name: "FileSelector",
  data() {
    return {
      audio: null
    }
  },
  methods: {
    reset: function () {
      this.audio = null
      this.$refs.input.value = null
    }
  }
}
</script>

<style scoped>

</style>
