<template>
  <b-container>
    <b-row>
      <h1>
        Modelle für <strong>🇨🇭 Swiss2Text</strong>.
      </h1>
    </b-row>
    <b-row class="mt-5">
      <speech-to-text
          modelId="citrinet-en,DE_commonvoice-True,CH_parliament-True"
          modelName="Schweizerdeutsch (Parlament)"
          language="CH"
      />
    </b-row>
    <b-row class="mt-5">
      <speech-to-text
          modelId="citrinet-en,DE_commonvoice-True,CH_parliament-True,CH_meteo-True"
          modelName="Schweizerdeutsch (Meteo)"
          language="CH"
      />
    </b-row>
    <b-row class="mt-5">
      <speech-to-text
          modelId="citrinet-en,DE_commonvoice-True"
          modelName="Deutsch"
          language="DE"
      />
    </b-row>
    </b-container>
</template>

<script>
import SpeechToText from "@/components/SpeechToText";

export default {
  name: 'Main',
  components: {
    SpeechToText
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
