<template>
  <b-card>
    <b-card-header
        header-bg-variant="info"
    >
      {{ modelName }}
    </b-card-header>
    <b-card-body>
      <b-row>
        <b-col md="4" xs="12">
          <b-form-group class="mb-1">
            <audio-recorder
                :audio="audio"
                class="mb-1"
                v-on:audioChanged="audioFileChanged"
            />
            oder
            <file-selector
                ref="inputFile"
                :audio="audio"
                class="mb-2"
                v-on:inputFileChanged="audioFileChanged"
            />
            <b-checkbox
                v-model="useLanguageModel"
                :value="language"
                button
                button-variant="outline-secondary"
            > Sprachmodell?
            </b-checkbox>
          </b-form-group>
        </b-col>
        <b-col md="2" xs="12">
          <b-button
              variant="primary"
              :disabled="audio === null"
              @click="transcribe">
            Transcribe
            <font-awesome-icon icon="robot"/>
          </b-button>
          <b-button
              variant="danger"
              @click="reset">
            <font-awesome-icon icon="times"/>
          </b-button>
        </b-col>
        <b-col md="6" xs="12">
          <b-card
              v-if="transcription || transcribing"
              class="border-dark"
          >
            <b-card-header>
              <b-spinner v-if="transcribing && audio !== null" variant="primary"></b-spinner>
            </b-card-header>
            <b-card-body body-border-variant="info">
              {{ transcription }}
            </b-card-body>
            <b-card-footer>
              <audio :src="urlFor(media)" autoplay controls></audio>
            </b-card-footer>
          </b-card>
        </b-col>
      </b-row>
    </b-card-body>
  </b-card>
</template>

<script>
import AudioRecorder from "@/components/AudioRecorder";
import FileSelector from "@/components/FileSelector";
import axios from "axios";


const API_URL = 'https://swiss2text.datascience-nlp.ai/api';
//const API_URL = 'http://localhost:8000';

export default {
  name: 'SpeechToText',
  components: {FileSelector, AudioRecorder},
  props: {
    modelId: null,
    modelName: null,
    language: null
  },
  data: function () {
    return {
      audio: null,
      transcription: "",
      transcribing: false,
      media: null,
      useLanguageModel: this.language
    }
  },
  methods: {
    transcribe() {
      let self = this
      self.transcribing = true
      self.transcription = ""

      const form = new FormData()
      let fileName
      console.log(self.audio)
      if (!(self.audio instanceof File)) {
        fileName = 'record.mp3'
      }
      form.append('audio', self.audio, fileName)

      if (self.useLanguageModel) {
        form.append('lm', self.language)
      }

      axios
          .post(`${API_URL}/transcribe/${self.modelId}`,
              form,
              {
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
              }
          )
          .then(function (success) {
            self.transcription = success.data.transcription
            self.media = success.data.media
            self.transcribing = false
          })
          .catch(function (error) {
            console.log(error)
            self.transcribing = false
          })
    },
    audioFileChanged(value) {
      this.audio = value
    },
    urlFor(value) {
      return `${API_URL}/${value}`
    },
    reset() {
      this.audio = null
      this.media = null
      this.transcribing = false
      this.transcription = ""
      this.$refs['inputFile'].reset()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
